#overview {
    text-align: center;
    height:100vh;
    overflow: hidden;
    background: url(../../../images/login-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */;
}

#overview-content {
    border: 1px solid black;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 0 20px 30px 20px;
    text-align: left;
}

#input-filter {
    color: gold;
    border: 1px solid #ccc;
    text-align: center;
}

#input-filter:focus {
    border: 1px solid darkblue;
    box-shadow: none;
    color: gold;
}

#input-filter:focus + label {
    color: gold;
}

#game-list {
    height:200px;
    width: 66%;
    overflow:hidden;
    overflow-y:scroll;
}

#game-list {
    cursor: pointer;
}