#game {
  text-align: center;
  height:100vh;
  overflow: hidden;
  background: url(../../../images/login-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */;
}

#game-content {
  border: 1px solid black;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 0 20px 30px 20px;
  text-align: left;
}

/* animations */

.my-show-hide {
    transition: all linear 1.0s;
}
.my-show-hide.ng-show {
    opacity: 1;
}
.my-show-hide.ng-hide {
    opacity: 0;
}
.my-wildsow-card.ng-enter {
    -webkit-transition:2.5s linear all;
    -moz-transition:2.5s linear all;
    -o-transition:2.5s linear all;
    transition:2.5s linear all;
    max-height: 0;
    opacity: 0;
    top: -150px;
}

.my-wildsow-card.ng-enter.ng-enter-active {
    max-height: 90px;
    opacity: 1;
    top: 0;
}
