<div id="game">

  <div id="game-content" class="container">

    <div class="row">
      <div class="col s5">
        <h3>Spiel: {{ gameId }}</h3>
      </div>
      <div class="col s2">
        <h3>Round {{ currentGameState.round }}</h3>
      </div>
    </div>

    <div id="players" class="row">

      <div class="col s12">
        Game Status: {{currentGameState.phase}} <br>
        Farbe: {{currentGameState.color}}
        <div class="row">
          <div class="col s6">
            <input ng-model="tricks" type="number" step="1">
          </div>
          <div class="col s6">
            <button ng-click="tellTricks()" class="btn waves-effect waves-light wildsow-button">Stiche angeben</button>
          </div>
        </div>

        Mein Name: {{player.player.playerName}} <br>
        Score: {{player.score}} <br>
        Tricks: {{player.tricks}} <br>
        Tricks Subround: {{player.tricksSubround}} <br>

        <div class="row center">
          <div class="col s12">
            <h3>Deine Karten</h3>
            <div ng-repeat="card in player.hand track by $index" class="wildsow-card">
              <img ng-src="{{getCardImgPath(card)}}" ng-click="playCard(card)"> <br>
              <span>{{card ? card.color : ''}}</span> <br>
              <span>{{card ? card.value : ''}}</span>
            </div>
          </div>
        </div>

        <div class="row center">
          <div class="col s4">
            <h3>Trumpf</h3>
            <img ng-src="{{getTrumpImg(currentGameState.trump)}}" width="80px" height="auto"> <br>
          </div>
          <div class="col s8">
            <h3>Heap</h3>
            <div ng-repeat="card in heap track by $index" class="wildsow-card heap-wildsow-card">
              <img ng-src="{{getCardImgPath(card.heapCard)}}"> <br>
              <span>{{card ? card.heapCard.color : ''}}</span> <br>
              <span>{{card ? card.heapCard.value : ''}}</span> <br>
              <span>{{card ? "Von " + card.cardPlayer : ''}}</span>
            </div>
          </div>
        </div>


      </div>
    </div>


  </div>
</div>