.row {
    padding: 8px 8px;
    margin: 0px;
}
h3, h4, h5{
    margin: 4px;
}

#head{
    background-color: rgba(0, 0, 0, 0.95);
}

#game {
    text-align: center;
    height: 100vh;
    background: url(../../../images/login-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */;
}

#game-content {
    max-width: 700px;
    height: 95%;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid black;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    text-align: left;
}

.my-flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.my-flex-item{
    max-width: 90px;
}

#players{
}

.player{
    position: relative;
    width: 100%; /* for IE 6 */
}

.player .img-overlay-top{
    line-height: 1.5;
}

.player .img-overlay-bottom{
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tricksBox, .tricksSubroundBox{
    background: rgba(0, 0, 0, 0.8);
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tricksSubroundBox{
    background: url(../../../images/chat2.svg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
}

.tricksBox{
    border: 2px solid;
    border-color: white;
}


.playersCard{
    height: auto;
    width: 100%;
}

#tricks{
}

/* animations */

.my-show-hide {
    transition: all linear 1.0s;
}

.my-show-hide.ng-show {
    opacity: 1;
}

.my-show-hide.ng-hide {
    opacity: 0;
}

#my-wildsow-cards-container {
}

.my-wildsow-card {
    position: relative;
}

.my-wildsow-card img {
    width: auto;
    height: 180px;
}

.my-wildsow-card.ng-enter {
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;
    opacity: 0;
    top: -150px;
}

.my-wildsow-card.ng-enter.ng-enter-active {
    opacity: 1;
    top: 0;
}

.my-wildsow-card.ng-leave {
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;
    opacity: 1;
    top: 0px;
}

.my-wildsow-card.ng-leave.ng-leave-active {
    opacity: 0;
    top: -150px;
}






